/* form을 숨기기 : css */
.hidden {
    display : none;
}
body {
    color : white;
}

img {
    position:absolute;
    width:100vw;
    height:100vh;
    left: 0px;
    top: 0px;
    right:0px;
    bottom:0px;
    z-index: -1;
    opacity:100%;
}